body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: antiquewhite;
}
h1 {
    text-align: center;
    color: yellow;
    text-shadow: 2px 3px 2px black;
    text-decoration: underline;
}
footer p {
    text-align: center;
    margin-top: 30vh;
}
main{
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    width: 60%;
    margin: 0px auto;
}
#mid-container {
    display: flex;
    /* align-items: center;
    justify-content: center; */
}
.fa-right-left::before{
    margin-left: 15px;
    margin-right: 15px;
}
#amount{
    width: 100%;
    border-radius: 15px;
    outline: none;
    padding: 10px;
}
p{
    text-align: center;
}
#amount{
    font-weight: bold;
    font-size: 25px;
}
select{
    /* font-weight: bold; */
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
}
#Result{
    /* text-align: center; */
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
}
button {
    background-color: green;
    margin-left: 103px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    transition: 1s;
}
button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid green;
    transition:1s;
}
main{
    border-radius: 30px;
}