li{
    list-style: none;
    border: 1px solid black;
    margin-bottom: 20px;
    width: 10%;
}
#container {
    margin-top: 50px;
    margin-left: 100px;
}
#showOtp {
    border: 1px solid;
    width: 100px;
    height: 20px;
    margin-bottom: 20px;
    text-align: center;
}