<!-- Carosle Part -->
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="./images/project-img/carosel-1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="./images/project-img/carosel-2.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="./images/project-img/carosel-3.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Multiple Cards Item -->
<div id="MutliCards">

</div>
<!-- Product Card  -->
<div id="cardsItems">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./images/project-img/Footwear-1.webp" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">BATA</h5>
            <p class="card-text">Men's Synthetic Casual Slip On Shoes</p>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-warning">Buy Now</a>
            <a href="#" class="btn btn-warning">Add to cart</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./images/project-img/Footwear-2.webp" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">WOODLAND</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-warning">Buy Now</a>
            <a href="#" class="btn btn-warning">Add to cart</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./images/project-img/Footwear-3.webp" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">NIKE</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-warning">Buy Now</a>
            <a href="#" class="btn btn-warning">Add to cart</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./images/project-img/suit-2.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">MANYAWAR</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-warning">Buy Now</a>
            <a href="#" class="btn btn-warning">Add to cart</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./images/project-img/tshirt-1.jpeg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">H & M</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-warning">Buy Now</a>
            <a href="#" class="btn btn-warning">Add to cart</a>
        </div>
    </div>
</div>