<div class="productDetailsPage">
    <div>
        Price Range: 
        <input type="range"  min="100" max="100000">
        Category:
        <ul>
            <li><input type="checkbox" value="Mens" id="category_men"> Mens</li>
            <li></li><input type="checkbox" value="Womens" id="category_women"> Womens</li>
            <li></li><input type="checkbox" value="Kids" id="category_kids"> Kids</li>
            <li></li><input type="checkbox" value="Books" id="category_book"> Books</li>
            <li></li><input type="checkbox" value="Electronics" id="category_Ele"> Electronics</li>
        </ul>
        <input type="button" value="Filter" class="btn btn-primary">
    </div>
    <div id="productDetailsBlock"></div>
</div>