*{
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
.container-fluid {
    background-color: #222E3E;
}
.nav-item a {
    color: white;
}
.navbar-toggler{
    background-color: white;
}
.nav-item  :hover {
    background-color: yellow;
    border-radius: 10px;
}
.nav-item {
    margin-left: 50px;
}
.d-flex button {
    margin-right: 10px;
}
.title{
    text-align: center;
    text-decoration: underline;
}
#list-content li{
    margin-top: 25px;
}
#list-content{
    border: 2px solid aliceblue;
    padding: 10px;
    border-radius: 10px;
}